.searchList{
    width: 94.5%;
    height: 600%;
    position: absolute;
    top: 45px;
    z-index: 50;
    overflow-x: hidden;
    text-align: left;

    hr{
        margin-top: 0.2rem;
        margin-bottom: 0rem;
    }
}

.typeTag{
    color:gray;
    font-size: 10px;
    margin:10px;
}