.header{
    background:rgb(100, 33, 255);
    padding: 15px 0px 20px;
}
.input-group-text{
    background: white;
    border: 0;
}
.form-control{
    border: 0;
}
.dateControl{
    margin-top: 20px;
    color:white;
    display: flex;
    justify-content: space-between;
    button {
        color: white;
        background: none;
        border: 0;

        :hover{
            color: black;  
        }
    }
}

.aBtn{
    position: fixed;
    padding: 25px 25px;
    right: 2%;
    bottom: 2%;
    border-radius: 50%;
    background:rgb(100, 33, 255);
    font-size: 30px;
    color:white;
    z-index: 10;
    cursor: pointer;
    p {
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%)
    }
}

.searchBar{ 
    z-index: 50;
}